[user]
	name = Raymond Wu Won
	email = rwuwon@gmail.com
        signingKey = BAAD1790
[commit]
	gpgSign = false
[gpg]
	program = gpg2
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
[alias]
	p = pull
	pu = push
	ps = push
	s = status
	st = status
	b = branch
	br = branch
	co = checkout
	ci = checkin
	d = diff
	df = diff
	l = log
	logk = log --graph --pretty=oneline --abbrev-commit --decorate
	logcolor = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %d%x1b[0m%x20%s %Cgreen(%cr) %C(bold blue)<%an>%Creset'  --date=relative
	log-color = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %d%x1b[0m%x20%s %Cgreen(%cr) %C(bold blue)<%an>%Creset'  --date=relative
	gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
#[merge]
#conflictStyle = diff3
