[Unit]
Description=Fix hibernate/suspend on 13,1 MacBook Pro

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'echo 0 > /sys/bus/pci/devices/0000\:01\:00.0/d3cold_allowed'
